/** Variables **/
/** Mixins **/
/** Globals **/
* {
  margin: 0;
  box-sizing: border-box; }

html,
body,
.container {
  height: 100%; }

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

a {
  color: white;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

p,
li {
  font-size: 17px; }
  @media only screen and (max-width: 1680px) {
    p,
    li {
      font-size: 14px; } }
  @media only screen and (max-width: 768px) {
    p,
    li {
      font-size: 12px; } }

h1 {
  font-size: 100px;
  font-weight: 100;
  color: transparent;
  -webkit-text-stroke: 1px white; }
  @media only screen and (max-width: 1680px) {
    h1 {
      font-size: 60px; } }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 40px; } }
  @media only screen and (max-height: 640px) {
    h1 {
      font-size: 30px; } }

i {
  font-size: 17px; }
  @media only screen and (max-width: 1680px) {
    i {
      font-size: 14px; } }

/** Graphics **/
.overlay {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); }
  .overlay .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .overlay .text-box p {
      margin: 20px; }
    @media only screen and (max-width: 480px) {
      .overlay .text-box .example {
        font-size: 30px; } }

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #canvas-container canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #canvas-container .credits {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2; }

/** Logo **/
.logo {
  display: none;
  height: 80px;
  margin-bottom: 40px; }
  @media only screen and (max-width: 768px) {
    .logo {
      display: block; } }
  @media only screen and (max-height: 640px) {
    .logo {
      margin-bottom: 20px;
      height: 60px; } }
  @media only screen and (max-height: 360px) {
    .logo {
      height: 50px; } }

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 768px) {
    .logo-container {
      display: none; } }

.logo-central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; }
  @media only screen and (max-width: 1680px) {
    .logo-central {
      width: 120px; } }

/** Copy **/
.left-text {
  z-index: 1;
  position: relative;
  height: 100%;
  padding: 60px; }
  @media only screen and (max-width: 480px) {
    .left-text {
      padding: 40px; } }
  @media only screen and (max-width: 768px) {
    .left-text {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent); } }
  @media only screen and (max-height: 640px) {
    .left-text {
      padding: 40px; } }
  @media only screen and (max-height: 480px) {
    .left-text {
      padding: 20px; } }

.tagline {
  margin-bottom: 40px; }
  @media only screen and (max-height: 640px) {
    .tagline {
      margin-bottom: 20px; } }

#selected-works li {
  padding: 5px 0; }
  #selected-works li:nth-child(1) {
    padding-top: 0; }
  @media only screen and (max-height: 480px) {
    #selected-works li {
      padding: 2px; } }
  #selected-works li .description {
    display: inline-block;
    opacity: 0.0;
    margin-left: 3px;
    transform: translateX(20px);
    transition: 0.3s all; }
    @media only screen and (max-width: 480px) {
      #selected-works li .description {
        display: none; } }
    @media only screen and (max-height: 640px) {
      #selected-works li .description {
        display: none; } }
  #selected-works li:hover .description {
    opacity: 0.5;
    transform: translateX(0);
    transition: 0.3s all; }
#selected-works .client-access {
  cursor: pointer;
  opacity: 0.5;
  margin-top: 40px; }
  #selected-works .client-access span {
    display: inline-block;
    transition: 0.5s transform; }
  #selected-works .client-access:hover span {
    transform: rotateZ(90deg);
    transition: 0.5s transform; }
  @media only screen and (max-height: 640px) {
    #selected-works .client-access {
      margin-top: 20px; } }
  @media only screen and (max-height: 480px) {
    #selected-works .client-access {
      position: fixed;
      top: 20px;
      right: calc(20px + 10px);
      margin-top: 0; } }

.social {
  position: absolute;
  bottom: 60px; }
  @media only screen and (max-width: 480px) {
    .social {
      bottom: 40px; } }
  @media only screen and (max-height: 480px) {
    .social {
      right: 20px;
      bottom: 20px;
      text-align: right; } }
  .social a {
    display: inline-block;
    padding: 2px;
    transition: 0.3s all; }
    .social a:hover {
      opacity: 0.5;
      transition: 0.3s all; }
    .social a.last {
      padding-right: 0; }
  .social .email {
    display: inline-block;
    margin-right: 3px; }
    .social .email a {
      padding-left: 0; }
  .social .copyright {
    margin-top: 10px;
    font-size: 10px; }

.credits-button {
  z-index: 3;
  cursor: pointer;
  position: fixed;
  right: 60px;
  bottom: 60px;
  display: inline-block;
  border: solid 2px white;
  font-size: 14px;
  line-height: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s all; }
  .credits-button:hover {
    background-color: white;
    color: black;
    transition: 0.3s all; }
  @media only screen and (max-width: 480px) {
    .credits-button {
      right: 40px;
      bottom: 40px; } }
  @media only screen and (max-height: 480px) {
    .credits-button {
      bottom: 50%;
      transform: translateY(50%);
      right: calc(20px + 10px); } }

/*# sourceMappingURL=main.css.map */
